header
  nav.navbar.navbar-expand-lg
    .container-fluid
      a.navbar-brand(href='#')
        h4 iSmart-Tech
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page', href='#') SmartPhones
          li.nav-item
            a.nav-link(href='#') Laptops
          li.nav-item
            a.nav-link(href='#') Desktops
          li.nav-item
            a.nav-link(href='#') HeadPhones
          li.nav-item
            a.nav-link(href='#') Airpods
          li.nav-item
            a.nav-link(href='#') Smart Watches
          li.nav-item
            a.nav-link(href='#') Accessories

  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.fixed-img(src='images/iPhone/iPhone-11-Pro-Space-Gray.png' alt='')
      .carousel-item
        img.d-block.fixed-img(src='images/iPhone/iPhone-11-Pro-Silver.png' alt='')
      .carousel-item
        img.d-block.fixed-img(src='images/iPhone/iPhone-11-Pro-Gold.png' alt='')
      .carousel-item
        img.d-block.fixed-img(src='images/iPhone/iPhone-11-Pro-MedNight-Green.png' alt='')
    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
      li(data-target='#carouselExampleIndicators' data-slide-to='1')
      li(data-target='#carouselExampleIndicators' data-slide-to='2')
      li(data-target='#carouselExampleIndicators' data-slide-to='3')




















