header
  nav.navbar.navbar-expand-lg
    .container-fluid
      a.navbar-brand(href='#')
        h4 iSmart-Tech
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page', href='#') SmartPhones
          li.nav-item
            a.nav-link(href='#') Laptops
          li.nav-item
            a.nav-link(href='#') Desktops
          li.nav-item
            a.nav-link(href='#') HeadPhones
          li.nav-item
            a.nav-link(href='#') Airpods
          li.nav-item
            a.nav-link(href='#') Smart Watches
          li.nav-item
            a.nav-link(href='#') Accessories
          //- li.nav-item.dropdown
          //-   a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-expanded='false')
          //-     | Dropdown
          //-   ul.dropdown-menu(aria-labelledby='navbarDropdown')
          //-     li
          //-       a.dropdown-item(href='#') Action
          //-     li
          //-       a.dropdown-item(href='#') Another action
          //-     li
          //-       hr.dropdown-divider
          //-     li
          //-       a.dropdown-item(href='#') Something else here