header {
  background-color: #000;
  // background-image: url('../images/mac-pro.jpg');
  background-size: cover;
  min-height: 100vh;
  .navbar {
    // background-color: $blueColor;
    a {
      color: #FFF;
    }
    .navbar-brand {
      h4 {
        color: $blueColor;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
    .navbar-nav {
      .nav-item {
        font-size: 1.0652em;
        .nav-link {
          opacity: .6;
          color: #FFF;
          transition: all .5s;
          font-weight: bold;
          &.active, &:hover {
            opacity: 1;
            color: $blueColor;
          }
        }
        .cart {
          font-size: 1.3em;
        }
        .dropdown-toggle {
          &::after {
            display: none;
          }
        }
        .dropdown-menu {
          &::before {
            display: inline-block;
            margin-left: .255em;
            content: "";
            border-top: .4em solid transparent;
            border-right: .4em solid transparent;
            border-bottom: .4em solid #FFF;
            border-left: .3em solid transparent;
            position: absolute;
            top: -13px;
            right: 12px;
          }
        }
      }
    }
  }
  .carousel {    
    .carousel-item {
      height: 100vh;
      .fixed-img {
        max-width: 75%;
        max-height: 75%;
        position: absolute;
        top: 35%;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -35%);
      }
    }
    .carousel-indicators li {
      height: 5px;
      border-radius: 5px;
      &.active, &:hover {
        background-color: $blueColor;
      }
    }
  }
}