- var pageTitle = 'Home'
<!DOCTYPE html>
html(lang="en")
  head
    // Meta 
    include pug/layout/meta
    // Styles 
    include pug/layout/styles
  body
    // Start Header 
    include pug/layout/header
    // End Header 

    // Start Products 
    section.main-section.products
      h2.h1.section-title.text-center Products
      .container
        .products-container
          .row
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-Space-Gray.png", alt="iPhone 11 Pro Space Gray")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-MedNight-Green.png", alt="iPhone 11 Pro MedNight Green")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-Silver.png", alt="iPhone 11 Pro Silver")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-Gold.png", alt="iPhone 11 Pro Gold")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description
          .row
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-Space-Gray.png", alt="iPhone 11 Pro Space Gray")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-MedNight-Green.png", alt="iPhone 11 Pro MedNight Green")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-Silver.png", alt="iPhone 11 Pro Silver")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description
            .col-lg-3.col-md-6
              .product.card
                .img-container
                  img(src="images/iPhone/iphone-11-Pro-Gold.png", alt="iPhone 11 Pro Gold")
                .product-info
                  h5.product-title iPhone 11 Pro
                  p Product Description

    // End Products



    // Scripts 
    include pug/layout/scripts