- var pageTitle = 'Home'
<!DOCTYPE html>
html(lang="en")
  head
    // Meta 
    include pug/layout/meta
    // Styles 
    include pug/layout/styles
  body
    // Start Header 
    include pug/layout/header
    // End Header 


    // Start Features Section
    section.main-section.features
      .container-fluid
        h2.h1.section-title Features
        .row
          .col-md-2.offset-md-1.col-sm-6
            .feat-box
              img(src="images/icons/secure-payment.svg" alt="")
              h6 Secure Payment
          .col-md-2.col-sm-6
            .feat-box
              img(src="images/icons/free-shipping.svg" alt="")
              h6 Free Shipping
          .col-md-2.col-sm-6
            .feat-box
              img(src="images/icons/customer-service.svg" alt="")
              h6 Customer Service
          .col-md-2.col-sm-6
            .feat-box
              img(src="images/icons/multi-langs.svg" alt="")
              h6 Multi Languages
          .col-md-2.col-sm-6
            .feat-box
              img(src="images/icons/track-order.svg" alt="")
              h6 Track Order
    // End Features Section


    // Start Products Section
    section.main-section.products
      .container-fluid
        h2.h1.section-title Products
        .products-container
          .row
            .col-md-3.col-sm-6
              .card.product.mb-3
                .card-header Product Category
                  i.far.fa-heart.love-icon
                .img-container
                  img.img-fluid(src="images/iphone/iPhone-11-Pro-Space-Gray.png" alt="")
                .card-body
                  h5.card-title Product Name
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                .card-footer
                  .row
                    .col-md-6.col-sm-12
                      button.btn.btn-success.btn-block Buy Now
                    .col-md-6.col-sm-12
                      button.btn.btn-link.btn-block(type="button") Add To Cart
            .col-md-3.col-sm-6
              .card.product.mb-3
                .card-header Product Category
                  i.far.fa-heart.love-icon
                .img-container
                  img.img-fluid(src="images/iphone/iPhone-11-Pro-Space-Gray.png" alt="")
                .card-body
                  h5.card-title Product Name
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                .card-footer
                  .row
                    .col-md-6.col-sm-12
                      button.btn.btn-success.btn-block Buy Now
                    .col-md-6.col-sm-12
                      button.btn.btn-link.btn-block(type="button") Add To Cart
            .col-md-3.col-sm-6
              .card.product.mb-3
                .card-header Product Category
                  i.far.fa-heart.love-icon
                .img-container
                  img.img-fluid(src="images/iphone/iPhone-11-Pro-Space-Gray.png" alt="")
                .card-body
                  h5.card-title Product Name
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                .card-footer
                  .row
                    .col-md-6.col-sm-12
                      button.btn.btn-success.btn-block Buy Now
                    .col-md-6.col-sm-12
                      button.btn.btn-link.btn-block(type="button") Add To Cart
            .col-md-3.col-sm-6
              .card.product.mb-3
                .card-header Product Category
                  i.far.fa-heart.love-icon
                .img-container
                  img.img-fluid(src="images/iphone/iPhone-11-Pro-Space-Gray.png" alt="")
                .card-body
                  h5.card-title Product Name
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                .card-footer
                  .row
                    .col-md-6.col-sm-12
                      button.btn.btn-success.btn-block Buy Now
                    .col-md-6.col-sm-12
                      button.btn.btn-link.btn-block(type="button") Add To Cart
    // End Products Section


    // Scripts 
    include pug/layout/scripts


//- Features :-

//- Secure Payment
//- Free Shipping
//- Customer Service
//- Multi Languages
//- Track Orders