- var pageTitle = 'Home'
<!DOCTYPE html>
html(lang="en")
  head
    // Meta 
    include pug/layout/meta
    // Styles 
    include pug/layout/styles
  body
    include pug/layout/header
    // Scripts 
    include pug/layout/scripts