.products {
  .section-title {
    color: $blueColor;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .products-container {
    .product {
      background-color: #bebebe;
      margin: 0 auto 1.3rem auto;
      padding: 15px;
      position: relative;
      max-width: 19rem;
      cursor: pointer;
      .img-container {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .product-info {
        background-color: rgba(#000, .6);
        color: #FFF;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        .product-title {
          text-align: center;
        }
      }
      .product-options {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 55px;
        ul {
          position: relative;
          li {
            background-color: rgba(190, 190, 190, .8);
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            overflow: hidden;
            text-align: center;
            padding: 0 10px;
            font-size: 1.5em;
            border-radius: 0 0 0 20px;
            cursor: pointer;
            .heart-icon {
              color: #000;
            }
          }
        }
      }
    }
  }
}