.features {
  .feat-box {
    padding: 10px;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    img {
      margin: 0 auto 10px auto;
      display: block;
      width: 80px;
      height: 80px;
    }
    .feat-title {
      margin: 10px 0 0 0;
      font-size: 1.2em;
    }
  }
}

.products {
  .product {
    background-color: #bcbcbc;
    border-color: transparent;
    margin: auto;
    max-width: 18rem;
    min-height: 545px;
    cursor: pointer;
    transition: box-shadow .5s;
    &.loved {
      box-shadow: 0 0 3px 1px $redColor;
    }
    @media (max-width: 767px) {
      max-width: 95%;
    }
    .img-container {
      width: 85%;
      height: auto;
      margin: 1rem auto 0 auto;
      overflow: hidden;
      img {
        max-width: 100%;
        object-fit: contain;
        user-select: none;
      }
    }
    .card-title {
      text-align: center;
    }
    .card-footer {
      button {
        @media (max-width: 767px) {
          margin-top: 5px;
        }
      }
      .btn-link {
        font-weight: bold;
        text-decoration: none;
        font-size: 1.025em;
      }
    }
    .card-header {
      position: relative;
      .love-icon {
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translate(-3%, -50%);
        font-size: 1.6rem;
      }
    }
  }
}